<%-include('../../partials/header.ejs')%>
<%-include('../../partials/navbar.ejs')%>

<div class="container">
  <hr />
  <div class="card">
    <div class="card-header">
      <h2>Novo artigo</h2>
    </div>
    <div class="card-body">
      <form id="articleForm" method="POST" action="/articles/save">
        <input
          class="form-control"
          type="text"
          name="title"
          placeholder="Defina o titulo do artigo"
        />
        <br />
        <textarea
          class="form-control"
          name="body"
          id="articleTextarea"
          placeholder="Escreva o artigo aqui!"
        ></textarea>
        <br />
        <label for="">Categoria</label>
        <select id="categorySelect" class="form-control" name="category">
          <option value="" disabled selected>Selecione uma categoria</option>
          <% categories.forEach((category) => { %>
          <option value="<%=category.id%>"><%=category.title%></option>
          <% }) %></select
        ><br />
        <button class="btn btn-success" id="btn-padrao" type="submit">
          Cadastrar
        </button>
      </form>
    </div>
  </div>
</div>

<%-include('../../partials/footer.ejs')%>
<%-include('../../partials/tinymce.ejs')%>
<script>
  document
    .getElementById("articleForm")
    .addEventListener("submit", function (event) {
      var categorySelect = document.getElementById("categorySelect");
      if (categorySelect.value === "") {
        alert(
          "Por favor, selecione uma categoria antes de enviar o formulário."
        );
        event.preventDefault();
      }
    });
</script>
