<%-include('../../partials/header.ejs')%>
<%-include('../../partials/homeNavbar.ejs')%>
<body>
  <div class="container">
    <%result.articles.rows.forEach((article) => {%>
    <br />
    <div class="card text-center">
      <div class="card-header">Username</div>
      <div class="card-body">
        <h5 class="card-title"><%=article.title%></h5>
        <br />
        <a href="/<%=article.slug%>" class="btn btn-primary" id="btn-padrao"
          >Ler artigo</a
        >
      </div>
      <div class="card-footer text-muted">
        Ultima atualização: <%=new
        Date(article.updatedAt).toLocaleDateString('pt-BR', optionsFormar)%>
      </div>
    </div>
    <%})%>
    <br />
    <nav aria-label="...">
      <%if(result.next){%>
      <ul class="pagination" id="nextIndex">
        <li class="page-item">
          <a class="page-link" href="/articles/page/<%=result.page+1%>"
            >Next >>></a
          >
        </li>
      </ul>
      <%}%> <%if(result.page > 2){%>
      <ul class="pagination" id="prevIndex">
        <li class="page-item">
          <a class="page-link" href="/articles/page/<%=result.page-1%>"
            ><<< Prev</a
          >
        </li>
      </ul>
      <%}else if(result.page == 2){%>
      <ul class="pagination" id="prevIndex">
        <li class="page-item">
          <a class="page-link" href="/"><<< Prev</a>
        </li>
      </ul>
      <%}%>
    </nav>
  </div>
  <br />
</body>
<%-include('../../partials/footer.ejs')%>
