<%-include('partials/header.ejs')%> <%-include('partials/homeNavbar.ejs')%>
<body>
  <br />
  <div class="container">
    <div class="card text-center">
      <div class="card-header"><%=article.title%></div>
      <div class="card-body">
        <p class="card-text"><%-article.body%></p>
      </div>
      <div class="card-footer text-muted">
        Ultima atualização: <%=new
        Date(article.updatedAt).toLocaleDateString('pt-BR', optionsFormar)%>
      </div>
    </div>
  </div>
</body>
<%-include('partials/footer.ejs')%>
